html, body{
	padding:0;
	margin:0;
	position:relative;
	color:#fff;
	letter-spacing:1px !important;
	font-family:Georgia, "Times New Roman", Times, serif !important; 

}

#container{
	position: relative;
	padding-top:15px;
	width:660px;
	height: 399px;
	margin:20px auto;
	border: 1px solid #555;
	background-color: black;
	top: 5px;	
}

table {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
}

.zebra {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.zebra td {    
    border-top: 1px solid #555;
    padding: 10px;
    text-align: center;    
}

.zebra tr:nth-child(1) td {
	border-top: none;
}

.zebra td:nth-child(2), .zebra td:nth-child(3), .zebra td:nth-child(4) {
	border-left: 1px solid #555;
}

.zebra th:nth-child(2), .zebra th:nth-child(3), .zebra th:nth-child(4) {
	border-left: 1px solid #555;
}

.zebra th, .zebra th:hover {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #828282;
    padding: 10px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #404040 !important;
	color:#fff;
}

.zebra tr:hover *{
    background: #eeeeee;
	color:#000;
}

.zebra tr {
	background:#000;
	color:#fff;
}