/********************************
	      Sticky Footer 
********************************/
div#wrap {
    min-height: 100%;
}

div#main {
    overflow:auto;
    padding-bottom: 20px;
    width: 900px;

}  /* must be same height as the footer */

div#footer {
    position: relative;
    margin-top: -20px; /* negative value of footer height */
    height: 20px;
    clear:both;
    text-align: center;
    color: gray;
    font-family: Helvetica;
    font-size: 12px;
} 

html, body{
	height: 100%;
	padding:0;
	margin:0;
	position:relative;
	color:#fff;
	letter-spacing:1px !important;
	font-family:Georgia, "Times New Roman", Times, serif !important; 
}

/********************************
 Put the image in the background 
********************************/

img#background {
    position: fixed;
    opacity: 0.3;
    z-index: -1;
}

/********************************
           Search bar
********************************/

div#search-box {
    background:url('/static/images/search.jpg') no-repeat scroll center transparent;
    width: 214px;
    height: 36px;
    border-radius: 4px;
    display:block;
    float: right;
    margin-right: 87px;
    margin-top: 10px;
}
form#search-form {
    display: block;
    margin:0;
    height: 36px;
}
form#search-form #s {
    padding: 6px;
    margin-left: 6px;
    margin-top: 7px;
    width: 175px;
    height: 21px;
    font-size:12px;
    vertical-align: top;
    border:none;
    background:transparent;
    opacity: 0.75;
    font-family: Helvetica;
}
form#search-form #sbutton {
    padding: 0;
    height: 30px;
    width: 30px;
    margin-top: -27px;
    margin-left: 183px;
    vertical-align: top;
    border: none;
    background: transparent;
}

/********************************
             Table 
********************************/

#container-wrap {
    background-color: rgba(105, 105, 105, 0.3);
    width: 672px;
    height: 410px;
    margin: auto;
    margin-top: 55px;
}

#container{
	position: relative;
	padding-top:15px;
	width:660px;
	height: 399px;
	margin:20px auto;
	border: 1px solid #555;
	background-color: black;
	top: 5px;	
}

#title {
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
    padding: 10px;
}

table.zebra {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.zebra td {    
    border-top: 1px solid #555;
    padding: 10px;
    text-align: center;    
}

.zebra tr:nth-child(1) td {
	border-top: none;
}

.zebra td:nth-child(2), .zebra td:nth-child(3), .zebra td:nth-child(4) {
	border-left: 1px solid #555;
}

.zebra th:nth-child(2), .zebra th:nth-child(3), .zebra th:nth-child(4) {
	border-left: 1px solid #555;
}

.zebra th, .zebra th:hover {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #828282;
    padding: 10px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #404040 !important;
	color:#fff;
}

.zebra tr:hover *{
    background: #eeeeee;
	color:#000;
}

.zebra tr {
	background:#000;
	color:#fff;
}

th:nth-child(1) {
    width: 60px;
}

th:nth-child(2) {
    width: 300px;
}

th:nth-child(3), th:nth-child(4) {
    width: 150px;
}

td:nth-child(1) {
    width: 59px;
}

td:nth-child(2) {
    width: 299px;
}

td:nth-child(3), td:nth-child(4) {
    width: 150px;
}

tbody {
    display: block;
    height: 285px;
    overflow-y: scroll;
}

/********************************
     Form for new entry data
********************************/

div#inputs {
    margin: auto;
    margin-top: 20px;
    width: 722px;
    height: 42px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.7);
}

div#inputs input {
    font-family: Helvetica;
    font-size: 17px !important;
    opacity: 0.85;
    text-align: center;
    float: left !important;
    margin-top: 4px !important;
}

input.form-control {
    margin: 10px;
    width: 200px;
    position: relative;
    float: left;
}
button#add {
    margin: 5px;
    width: 35px;
    height: 30px;
    position: relative;
    float: left;
    padding: 3px;
}

/********************************
          Edit raw file
********************************/

div#edit {
    float: right;
    margin-right: 87px;
    /*display: none;*/
}

div#edit-modal {
    color: black;
    font-family: Helvetica;
}

span#modal-header {
    font-family: Georgia;
}

div#modal-body textarea {
    margin-bottom: -17px;
}