<!DOCTYPE HTML>
    <html>
        <head>
            <title>Dinero</title>
            <meta name="author" content="David Cho">
            <meta name="description" content="database to track of foreign currency">    
            <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
            <link href="/static/css/stylesheet.css"rel="stylesheet" type="text/css">
            <script src="/static/js/jquery-1.8.2.js"></script>

            <script>
                $(document).ready(function() {
                    $('#add').click(function() {
                        var currency = $('#currency').val();
                        var denom = $('#denom').val();
                        var quantity = $('#quantity').val();
                        

                        var letters = /^[A-Za-z]+$/;
                        var numbers = /^[0-9]+$/;

                        if (currency == '')
                            toError('#group1', '#currency', 'Input currency');
                        else if (!letters.test(currency))
                            toError('#group1', '#currency', 'Invalid currency');
                        else
                            toInfo('#group1');

                        if (denom == '')
                            toError('#group2', '#denom', '#');
                        else if (!numbers.test(denom))
                            toError('#group2', '#denom', 'Invalid');
                        else
                            toInfo('#group2');        

                        if (quantity == '')
                            toError('#group3', '#quantity', '#');
                        else if (!numbers.test(quantity))
                            toError('#group3', '#quantity', 'Invalid');
                        else
                            toInfo('#group3');        

                        if ($('#group1').hasClass('info') && $('#group2').hasClass('info') 
                            && $('#group3').hasClass('info')) {
                            // add to text and table
                            alert('all valid');
                        }            

                    });
                });
                function toError(id, text_id, text) {
                    var $start = $(id);
                    $start.removeClass("info");
                    $start.addClass("error");
                    $(text_id).val('');
                    $(text_id).attr("placeholder", text);
                }
                function toInfo(id) {
                    var $start = $(id);
                    $start.removeClass("error");
                    $start.addClass("info");
                }
            </script>
        </head>
        <body>
            <img src="/static/images/map.jpg" id="background">
            
            <div id="wrap">
                <div id="main">
                    <div id="container-wrap">
                        <div id="container">
                            <div id="title">
                                Foreign Currency Database
                            </div>
                            <table class="zebra">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Currency</th>
                                        <th>Denomination</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="zebra">
                                <tbody>
                                    {% for entry in entries %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{entry.country}}</td>
                                        <td>{{entry.denomination}}</td>
                                        <td>{{entry.quantity}}</td>
                                    </tr>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                    <form class="form-inline">
                        <div id="group1">
                            <input type="text" id="currency" class="form-control input-small" placeholder="Currency">
                        </div>
                        <div id="group2">
                            <input type="text" id="denom" class="form-control input-small" placeholder="Denomination">
                        </div>
                        <div id="group3">
                            <input type="text" id="quantity" class="form-control input-small" placeholder="Quantity">
                        </div>
                        <input type="submit" class="btn btn-info" value="+" id="add">
                    </form>
                </div>
            </div>

            <div id="footer">
                <p>Designed and built by David Cho</p>
            </div>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        </body>
    </html>